.git
# mostly Github environment variables
.env
# The Blog is hosted on another repo
blog/
# Bloodhound
bloodhound/neo4j-data
bloodhound/postgres-data
# Crafty Data
crafty/crafty
# RSS Data
commafeed/data
# Fredy
fredy/db
# Gitea
gitea/gitea
gitea/pgdata
# Outline
outline/data/
outline/database-data/
outline/pgdata/
# Vaultwarden Vault
vaultwarden/data
# Tailscale
tailscale/data
# Coudflared
proxy-tunnel/cloudflared/*
# Matrix
/matrix
# Paperless
paperless/paperless
paperless/redis
# Immich
immich/postgres
immich/library
immich/model-cache