/.git
# mostly Github environment variables
.env
# The Blog is hosted on another repo
blog/
# Crafty Data
crafty/crafty
# RSS Data
commafeed/data
# Gitea
gitea/gitea
gitea/pgdata
# Outline
outline/data/
outline/database-data/
outline/pgdata/
# Postgres
postgres/pgadmin/
postgres/data/
# Template
docker-compose.yaml.template
# Vaultwarden Vault
vaultwarden/data
# Tailscale
tailscale/data
# Coudflared
proxy-tunnel/cloudflared/*
# Matrix
/matrix
# Immich
immich/postgres
immich/library
immich/model-cache
# mTLS Creds
mtls.key.pem
mtls.cert.pem
mtls_client_cert.pfx
