services:
  example:
    image: docker.io/example/example:alpine
    container_name: example
    restart: always
    user:
    environment:
      ## Timezone used in the docker container for logs
      TZ: '${TZ}'
    healthcheck:
        test: ['CMD-SHELL', '']
    depends_on:
      example1:
        condition: service_healthy

    volumes:
    - /etc/timezone:/etc/timezone:ro
    - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.example.rule=Host(`example.${DOMAIN}`)
      - traefik.http.routers.example.entrypoints=websecure
      - traefik.http.routers.example.tls=true
      - traefik.http.routers.example.service=example
      - traefik.http.services.example.loadbalancer.server.port=80
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      example:

networks:
  example:
